---
---
{% include fragment-pagebegin.html %}
<div class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->

  <ul class="nav nav-tabs">
    <li class="active">
      <a href="{{[id]}}-sequence.html">Sequence</a>
    </li>
    <li>
      <a href="{{[id]}}-description.html">Detailed Description</a>
    </li>
    <li>
      <a href="{{[id]}}-resources.html">Resources</a>
    </li>
  </ul>
  

<!--
{% include {{[id]}}-full.html %}
-->

 
  
  <a name="root"> </a>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}