---
---
{% include fragment-pagebegin.html %}
<div class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->

<!-- Option 1: Separate html per tab -->
<!--
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="{{[id]}}-sequence.html">Sequence</a>
    </li>
    <li>
      <a href="{{[id]}}-description.html">Detailed Description</a>
    </li>
    <li>
      <a href="{{[id]}}-resources.html">Resources</a>
    </li>
  </ul>
-->
  
  
<!-- Option 2: Single html with the tabs already in  -->
<!--
{% include {{[id]}}-full.html %}
-->


<!-- Option 0: hardcoding file name...-->
{% include scenario-allergy-full.html %}

 
  
  <a name="root"> </a>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}